body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    height: 650px;
    width: 650px;
    border: solid black 2px;
    box-shadow: 0 0 7px #777;
}
.gridcontainer{
    padding: 0px;
    margin: 0px;
    display: flex;
    border: none;
}
.btn{
    box-shadow: 0 0 7px #777;
    background-color: black;
    color: white;
    font-size: 28px;
    text-align: center;
    height: 40px;
    width: 8vw;
    border-radius: 5px;
}